* {
    font-family: "Montserrat", sans-serif;
    background: #212121;
    color: white;
}
h1, h2, h3, p {
    text-align: center;
}
.grid {
    max-width: 800px;
    display: grid;
    margin: 32px;
    gap: 16px;
    grid-template-columns: repeat( auto-fit, minmax( 256px, 1fr ) );
}
.redirect {
    width: 256px;
    justify-self: center;
    text-decoration: none;
}
.main_image {
    width: 256px;
    border-radius: 16px;
}
video {
    width: 100%;
    border-radius: 16px;
}
.timestamp {
    background: none;
    border: none;
    cursor: pointer;
}
svg {
    height: 32px;
}
body {
    margin: 8px 8px 128px 8px;
}
iframe {
    position: absolute;
    transform: translateX( -50% );
    border: none;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    height: calc( 100% + 24px );
    padding-bottom: 128px;
}